/* Header Styles */
header{
  display: flex;
  align-items: center;
}

header h1{
  border-right: 1px solid black;
  padding: 0 20px;
}

header p{
  padding-left: 10px;
}


/* Photo Card Styles */
.photo-card{
  width: 50%;
  margin: 0 auto;
}

.change-date form{
  display: flex;
  align-items: center; 
}

.change-date input{
  height: 20px;
  margin-left: 10px;
}

.photo-card img{
  width: 100%;
}
